registry=https://registry.npmjs.org/
save-exact=true


# Scopes
@i2c:registry=https://artifacts-local.i2cinc.com/repository/dd-npm-private/

# Authentication for private npm registries
//artifacts-local.i2cinc.com/repository/dd-npm-private/:_auth=ZGRfdGVhbTp0ZW1wL2Rk
//artifacts-local.i2cinc.com/repository/dd-npm-private/:always-auth=true

strict-ssl=false
